{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Haven | Password Reset</title>
    <link rel="stylesheet" href="{% static 'loginPage/login.css' %}">
</head>
<body>
    <header class="top-bar">
        <div class="logo-section">
            <img src="{% static 'images/SH.png' %}" alt="Safe Haven Logo">
            <h2>Safe <span>Haven</span></h2>
        </div>
    </header>

    <div class="left-section"></div>
    <div class="right-section">
        <div class="login-box">
            <h1>Password Reset</h1>
            <p>Your password has been reset successfully!</p>
            <div class="signup">
                <a href="{% url 'login' %}">Back to Login</a>
            </div>
        </div>
    </div>
</body>
</html>